@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700&display=swap");
#index .cut-1 {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#index .cut-1-video {
  width: 100%;
}
@media all and (max-width: 1024px) {
  #index .cut-1-video {
    width: auto;
    overflow: hidden;
  }
  #index .cut-1-video video {
    min-height: 100vh;
    right: 50%;
    position: relative;
    width: auto;
  }
}
@media all and (max-width: 500px) {
  #index .cut-1-video {
    height: 100vh;
  }
}
#index .cut-1-para {
  position: absolute;
  top: 0;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
@media all and (max-width: 1024px) {
  #index .cut-1-para {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media all and (max-width: 500px) {
  #index .cut-1-para {
    align-items: unset;
    justify-content: space-between;
  }
}
#index .cut-1-para-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20%;
}
@media all and (max-width: 1024px) {
  #index .cut-1-para-left {
    width: 100%;
    margin-top: 15%;
  }
  #index .cut-1-para-left .home-para-line {
    display: none;
  }
}
@media all and (max-width: 500px) {
  #index .cut-1-para-left {
    width: auto;
    margin-top: 30%;
  }
}
#index .cut-1-para-left-1 {
  font-family: "Noto Sans TC", sans-serif;
}
#index .cut-1-para-left-1 h1 {
  color: #ffe134;
  font-size: 2.25vw;
  font-weight: 400;
}
#index .cut-1-para-left-1 h2 {
  color: white;
  font-size: 1.75vw;
  font-weight: 400;
  margin-bottom: 2%;
  letter-spacing: 2px;
}
#index .cut-1-para-left-1 h3 {
  color: white;
  font-weight: 300;
  font-size: 1.25vw;
  margin-bottom: 2%;
  letter-spacing: 2px;
}
#index .cut-1-para-left-1 p {
  color: #808080;
  font-weight: 400;
  font-size: 0.7vw;
  line-height: 2;
}
#index .cut-1-para-left-1 .cut-1-para-left-line-1 {
  height: 1px;
  width: 12%;
  background-color: white;
  margin-top: 3%;
  margin-bottom: 3%;
}
@media all and (max-width: 1024px) {
  #index .cut-1-para-left-1 h1 {
    font-size: 5vw;
  }
  #index .cut-1-para-left-1 h2 {
    font-size: 3.75vw;
  }
  #index .cut-1-para-left-1 h3 {
    font-size: 2.5vw;
  }
  #index .cut-1-para-left-1 p {
    font-size: 2.25vw;
  }
}
@media all and (max-width: 500px) {
  #index .cut-1-para-left-1 h1 {
    font-size: 6vw;
  }
  #index .cut-1-para-left-1 h2 {
    font-size: 4.75vw;
  }
  #index .cut-1-para-left-1 h3 {
    font-size: 3.5vw;
  }
  #index .cut-1-para-left-1 p {
    font-size: 3.25vw;
  }
}
#index .home-para-line {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Noto Sans TC", sans-serif;
  margin-top: 20%;
}
#index .home-para-line h3 {
  background-color: #4c0404;
  color: white;
  border-radius: 10px 10px 0 0;
  width: 55%;
  font-size: 1.25vw;
  font-weight: 400;
  text-align: center;
  padding: 1.5% 1% 1.5% 1%;
  letter-spacing: 2px;
}
#index .home-para-line .home-para-line-line-inner {
  background-color: white;
  height: 1px;
  width: 170%;
}
@media all and (max-width: 1024px) {
  #index .home-para-line h3 {
    width: 45%;
    font-size: 3.75vw;
    padding: 1.5% 0% 1.5% 0%;
    letter-spacing: 2px;
  }
  #index .home-para-line .home-para-line-line-inner {
    width: 100%;
  }
}
@media all and (max-width: 500px) {
  #index .home-para-line h3 {
    width: 55%;
    font-size: 4.75vw;
    padding: 1.5% 0% 1.5% 0%;
    letter-spacing: 2px;
  }
  #index .home-para-line .home-para-line-line-inner {
    width: 100%;
  }
}
#index .cut-1-para-right {
  margin-top: 13%;
  width: 32vw;
  margin-right: 9%;
}
@media all and (max-width: 1024px) {
  #index .cut-1-para-right {
    margin: 0;
    width: 100%;
  }
}
@media all and (max-width: 500px) {
  #index .cut-1-para-right {
    margin: 0;
    width: 100%;
  }
}
#index .cut-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -16.5%;
}
#index .cut-2 .home-para-line {
  display: none;
}
@media all and (max-width: 1024px) {
  #index .cut-2 {
    flex-direction: column;
    margin-top: 0;
    width: 100%;
  }
  #index .cut-2 .home-para-line {
    display: flex;
    margin-top: 0;
    width: 80%;
    margin-bottom: 6%;
    margin-top: -20%;
    z-index: 5;
  }
}
@media all and (max-width: 500px) {
  #index .cut-2 {
    flex-direction: column;
    margin-top: 0;
    width: 100%;
  }
  #index .cut-2 .home-para-line {
    display: flex;
    margin-top: 0;
    width: 80%;
    margin-bottom: 6%;
    margin-top: -35%;
    z-index: 5;
  }
}
#index .cut-2-container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  z-index: 1;
}
@media all and (max-width: 1024px) {
  #index .cut-2-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 7vw;
  }
}
#index .cut-2-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  width: 24vw;
  border: 1px solid white;
}
@media all and (max-width: 1024px) {
  #index .cut-2-item {
    width: 100%;
  }
}
#index .cut-2-item-top {
  width: 100%;
  height: 100%;
}
#index .cut-2-item-bottom {
  color: white;
  font-family: "Noto Sans TC", sans-serif;
  width: 80%;
  margin-top: 5%;
}
#index .cut-2-item-bottom .cut-2-item-time {
  font-size: 0.8vw;
  font-family: "Noto Sans TC", sans-serif;
  letter-spacing: 1px;
}
#index .cut-2-item-bottom .cut-2-item-line {
  width: 100%;
  height: 1px;
  background-color: white;
  margin-top: 3%;
}
#index .cut-2-item-bottom p {
  font-size: 1.25vw;
  margin-top: 3%;
  letter-spacing: 1px;
}
@media all and (max-width: 1024px) {
  #index .cut-2-item-bottom .cut-2-item-time {
    font-size: 2.25vw;
  }
  #index .cut-2-item-bottom p {
    font-size: 2.75vw;
    letter-spacing: 2px;
  }
}
@media all and (max-width: 500px) {
  #index .cut-2-item-bottom .cut-2-item-time {
    font-size: 3.25vw;
  }
  #index .cut-2-item-bottom p {
    font-size: 3.75vw;
    letter-spacing: 2px;
  }
}
#index .cut-2-more {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 3%;
  margin-bottom: 8%;
}
#index .cut-2-more a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  line-height: 0.8;
  font-size: 0.8vw;
  letter-spacing: 2px;
  gap: 0.5vw;
}
@media all and (max-width: 1024px) {
  #index .cut-2-more a {
    font-size: 2vw;
  }
}
@media all and (max-width: 500px) {
  #index .cut-2-more a {
    font-size: 3vw;
  }
}/*# sourceMappingURL=index.css.map */