@import "_config";
.cut-1 {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cut-1-video {
  width: 100%;

  @include tablet {
    width: auto;
    overflow: hidden;
    video {
      min-height: 100vh;
      right: 50%;
      position: relative;
      width: auto;
    }
  }
  @include mobile {
    height: 100vh;
  }
}
.cut-1-para {
  position: absolute;
  top: 0;
  width: 80%;
  display: flex;
  justify-content: space-between;
  @include tablet {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  @include mobile {
    align-items: unset;
    justify-content: space-between;
  }
}
.cut-1-para-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20%;
  @include tablet {
    width: 100%;
    margin-top: 15%;
    .home-para-line {
      display: none;
    }
  }
  @include mobile {
    width: auto;
    margin-top: 30%;
  }
}
.cut-1-para-left-1 {
  font-family: $sans;

  h1 {
    color: #ffe134;
    font-size: 2.25vw;
    font-weight: 400;
  }
  h2 {
    color: white;
    font-size: 1.75vw;
    font-weight: 400;
    margin-bottom: 2%;
    letter-spacing: 2px;
  }
  h3 {
    color: white;
    font-weight: 300;
    font-size: 1.25vw;
    margin-bottom: 2%;
    letter-spacing: 2px;
  }
  p {
    color: #808080;
    font-weight: 400;
    font-size: 0.7vw;
    line-height: 2;
  }
  .cut-1-para-left-line-1 {
    height: 1px;
    width: 12%;
    background-color: white;
    margin-top: 3%;
    margin-bottom: 3%;
  }
  @include tablet {
    h1 {
      font-size: 5vw;
    }
    h2 {
      font-size: 3.75vw;
    }
    h3 {
      font-size: 2.5vw;
    }
    p {
      font-size: 2.25vw;
    }
  }
  @include mobile {
    h1 {
      font-size: 6vw;
    }
    h2 {
      font-size: 4.75vw;
    }
    h3 {
      font-size: 3.5vw;
    }
    p {
      font-size: 3.25vw;
    }
  }
}

.home-para-line {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: $sans;
  margin-top: 20%;
  h3 {
    background-color: #4c0404;
    color: white;
    border-radius: 10px 10px 0 0;
    width: 55%;
    font-size: 1.25vw;
    font-weight: 400;
    text-align: center;
    padding: 1.5% 1% 1.5% 1%;
    letter-spacing: 2px;
  }
  .home-para-line-line-inner {
    background-color: white;
    height: 1px;
    width: 170%;
  }
  @include tablet {
    h3 {
      width: 45%;
      font-size: 3.75vw;
      padding: 1.5% 0% 1.5% 0%;
      letter-spacing: 2px;
    }
    .home-para-line-line-inner {
      width: 100%;
    }
  }
  @include mobile {
    h3 {
      width: 55%;
      font-size: 4.75vw;
      padding: 1.5% 0% 1.5% 0%;
      letter-spacing: 2px;
    }
    .home-para-line-line-inner {
      width: 100%;
    }
  }
}
.cut-1-para-right {
  margin-top: 13%;
  width: 32vw;
  margin-right: 9%;
  @include tablet {
    margin: 0;
    width: 100%;
  }
  @include mobile {
    margin: 0;
    width: 100%;
  }
}

//第2cut
.cut-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -16.5%;
  .home-para-line {
    display: none;
  }
  @include tablet {
    flex-direction: column;
    margin-top: 0;
    width: 100%;
    .home-para-line {
      display: flex;
      margin-top: 0;
      width: 80%;
      margin-bottom: 6%;
      margin-top: -20%;
      z-index: 5;
    }
  }
  @include mobile {
    flex-direction: column;
    margin-top: 0;
    width: 100%;
    .home-para-line {
      display: flex;
      margin-top: 0;
      width: 80%;
      margin-bottom: 6%;
      margin-top: -35%;
      z-index: 5;
    }
  }
}
.cut-2-container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  z-index: 1;
  @include tablet {
    grid-template-columns: repeat(1, 1fr);
    gap: 7vw;
  }
}
.cut-2-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  width: 24vw;
  border: 1px solid white;
  @include tablet {
    width: 100%;
  }
}

.cut-2-item-top {
  width: 100%;
  height: 100%;
}
.cut-2-item-bottom {
  color: white;
  font-family: $sans;
  width: 80%;
  margin-top: 5%;
  .cut-2-item-time {
    font-size: 0.8vw;
    font-family: $sans;
    letter-spacing: 1px;
  }
  .cut-2-item-line {
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 3%;
  }
  p {
    font-size: 1.25vw;
    margin-top: 3%;
    letter-spacing: 1px;
  }
  @include tablet {
    .cut-2-item-time {
      font-size: 2.25vw;
    }
    p {
      font-size: 2.75vw;
      letter-spacing: 2px;
    }
  }
  @include mobile {
    .cut-2-item-time {
      font-size: 3.25vw;
    }
    p {
      font-size: 3.75vw;
      letter-spacing: 2px;
    }
  }
}
.cut-2-more {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 3%;
  margin-bottom: 8%;
  a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    line-height: 0.8;
    font-size: 0.8vw;
    letter-spacing: 2px;
    gap: 0.5vw;
  }
  @include tablet {
    a {
      font-size: 2vw;
    }
  }
  @include mobile {
    a {
      font-size: 3vw;
    }
  }
}
