// @import "_config";

#product {
  //第1cut
  .cut-1 {
    width: 100%;
    position: relative;
  }

  .cut-1-video {
    width: 100%;

    @include tablet {
      overflow: hidden;
      video {
        width: 200%;
        position: relative;
        right: 50%;
      }
    }
  }

  .cut-1-para {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 4%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color: white;
    width: 100%;
    line-height: 1.5;
    h1 {
      font-size: 2.25vw;
      font-family: $sans;
    }
    @include tablet {
      h1 {
        font-size: 6vw;
        letter-spacing: 1px;
      }
    }
    @include mobile {
      h1 {
        font-size: 7vw;
        letter-spacing: 1px;
      }
    }
  }

  .cut-1-para-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    .cut-1-para-line {
      background-color: white;
      width: 5vw;
      height: 1px;
    }
    p {
      font-size: 1.5vw;
      color: white;
      margin-left: 3%;
      margin-right: 3%;
      font-family: $sans;
    }
    @include tablet {
      .cut-1-para-line {
        width: 10vw;
      }
      p {
        font-size: 3.5vw;
        margin-left: 10%;
        margin-right: 10%;
        letter-spacing: 1px;
      }
    }
    @include mobile {
      .cut-1-para-line {
        width: 12vw;
      }
      p {
        font-size: 4.5vw;
        margin-left: 10%;
        margin-right: 10%;
        letter-spacing: 1px;
      }
    }
  }

  //第2cut
  .cut-2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cut-2-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 85%;
    gap: 2vw 0vw;
    margin-top: 5%;
    @include tablet {
      grid-template-columns: repeat(1, 1fr);
      gap: 7vw 0vw;
      margin-top: 10%;
    }
  }

  .cut-2-item {
    background-color: #b3b3b3;
    width: 25vw;
    padding: 1.5vw 1vw;
    margin: auto;
    @include tablet {
      width: 100%;
      padding: 5.5vw 4vw;
    }
  }

  .cut-2-item-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h4 {
      font-size: $pcSmallPara;
      letter-spacing: 1px;
      font-weight: 600;
    }
    @include tablet {
      align-items: flex-end;
      h4 {
        font-size: $tbPara;
      }
    }
    @include mobile {
      align-items: flex-end;
      h4 {
        font-size: $phPara;
      }
    }
  }

  .cut-2-item-bottom-1 {
    color: black;
    font-family: $sans;
    margin-top: 5%;
  }

  .cut-2-item-bottom-line {
    background-color: black;
    width: 10vw;
    height: 1px;
    margin-top: 4%;
    margin-bottom: 4%;
    @include tablet {
      width: 34vw;
    }
  }

  .cut-2-item-bottom-trans {
    color: #666666;
    font-size: 0.7vw;
    @include tablet {
      font-size: 2vw;
    }
    @include mobile {
      font-size: 2.8vw;
    }
  }

  .cut-2-item-bottom-2 {
    display: flex;
    align-items: center;
    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: black;
      font-family: $sans;
      font-size: $pcSmallPara;
      width: 4vw;
      letter-spacing: 2px;
      margin-top: 5%;
      font-weight: 600;
      text-decoration: none;
    }
    @include tablet {
      a {
        width: 11vw;
        font-size: $tbPara;
      }
    }
    @include mobile {
      a {
        width: 15vw;
        font-size: $phPara;
      }
    }
  }

  .left-arrow {
    width: 1.25vw;
    @include tablet {
      width: 3vw;
      margin-top: 2%;
    }
    @include mobile {
      width: 4vw;
      margin-top: 2%;
    }
  }
}
